# Build directories
build/
build-*/
cmake-build-*/

#example directory
example/

#cyclus outputs
*.sqlite

#data files
*.csv
*.json
*.jsonl

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

# Generated libraries/executables
*.o
*.so
*.a
*.out
*.exe

# Python
__pycache__/
*.pyc

# macOS
.DS_Store
*.DS_Store

# VSCode
.vscode/

# Conda
.env
.conda
